.page-title-style{
    color: #1A1919;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
}
.header-background{
    background-image: url(/src/images/Vector1.png), url(/src/images/Vector.png);
    background-repeat: no-repeat;
    background-position: right top , left bottom;
}