.cart-title{
    font-family: 'Manrope', sans-serif;
    color: #474747;
    font-weight: 600;
}
.company-name-style-3{
    font-family: 'Manrope', sans-serif;
    color: #757575;
}
.custom-color{
    color: #757575;
}